.form {
    position: relative;

    &__icon {
        position: absolute;
        font-size: rem(19px);

        top: 17px;
        left: 16px;

        color: $grey-dark;
    }

    &__input {
        font-size: rem(16px);
        line-height: 21px;

        color: $grey-dark;
        border: 1px solid $grey-border;

        padding: 15px 150px 15px 44px;

        &:focus,
        &:focus-visible,
        &:active {
            border: 1px solid $green;
            box-shadow: 0px 0px 4px rgba(111, 207, 151, 0.5);
        }
    }
}
