.matches {

    &__list {
        display: flex;
        flex-direction: column;

        padding-top: 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: $black;

        background-color: $grey-bg;

        padding: 15px;
        margin-bottom: 10px;

        &--title {
            background-color: $white;
            padding: 16px 16px 16px 0;
        }
    }

    &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__coeff {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: bold;
        font-size: rem(20px);
        line-height: 26px;
        text-transform: uppercase;
        color: $grey-dark;

        min-width: 180px;

        &--result {
            color: $black;
        }
    }

    &__time {
        min-width: 40px;
    }

    &__teams {
        display: flex;

        align-items: center;

        font-size: rem(16px);
        line-height: 21px;
        color: $black;
    }

    &__team {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 240px;

        &--right {
            text-align: right;
        }
    }

    &__name {
        padding: 0 20px;
        align-items: center;
    }

    &__img {
        width: 51px;
        height: 51px;
    }

    &__score{
        display: flex;
        justify-content: center;

        font-size: rem(20px);
        line-height: 26px;
        font-weight: bold;

        padding: 0 30px;

        min-width: 125px;
    }

    &__stream {
        width: 100px;
        margin-right: 56px;

        white-space: nowrap;
    }

    &__in-stream {
        color: $green;

        font-size: rem(14px);
        line-height: 18px;
    }

    &__not-stream {
        font-size: rem(14px);
        line-height: 18px;
    }
}