.reload {

    &__button {
        height: 51px;
        width: 51px;
        background-color: $green;

        &:active, &:focus {
            background-color: #20ca67;
            margin-top: 2px;
            margin-left: 2px;
            transition: all 0.3s ease;


            .reload__icon {
                transition: all 0.3s ease;
                transform: rotate(360deg);
            }
        }
    }

    &__icon {
        color: $white;
        font-size: rem(21px);
    }

}