// FONTS
$userfont: 'PT Sans', sans-serif;


// COLORS
$white: #ffffff;
$grey-bg: #FBFBFB;
$grey-dark: #999999;
$grey-border: #E9E9E9;
$green: #6FCF97;
$black: #333333;


// BREAKPOINTS
$breakpoints: (
  retina: 2560px,
  xxl: 1920px,
  xl: 1440px,
  lg: 1200px,
  md: 1024px,
  sm: 768px,
  xs: 576px,
  xxs: 320px
);